<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles/footer.css" />
  </head>
  <body>
    <!--  check -->
    <div id="about">
      <div>
        <ul>
          <li class="head">HELP</li>
          <li>SHOP AT ZARA.COM</li>
          <li>PRODUCT</li>
          <li>PAYMENT</li>
          <li>SHIPPING</li>
          <li>EXCHANGING AND RETURNS</li>
          <li>SHOPS AND COMPANY</li>
          <li>CLOTHES COLLECTION PROGRAMME</li>
          <li>MY ACCOUNT</li>
        </ul>
      </div>

      <div>
        <ul>
          <li class="head">FOLLOW US</li>
          <li>NEWS LETTER</li>
          <li>TIKTOK</li>
          <li>INSTAGRAM</li>
          <li>FACEBOOK</li>
          <li>TWITTER</li>
          <li>PINTEREST</li>
          <li>YOUTUBE</li>
        </ul>
      </div>

      <div>
        <ul>
          <li class="head">COMPANY</li>
          <li>ABOUT US</li>
          <li>OFFICES</li>
          <li>STORES</li>
          <li>WORK WITH US</li>
        </ul>
      </div>

      <div>
        <ul>
          <li class="head">POLICES</li>
          <li>PRIVACY POLICY</li>
          <li>PURCHASE CONDITIONS</li>
          <li>COOKIES SETTINGS</li>
        </ul>
      </div>
    </div>
    <hr style="width: 90%" />

    <div id="copy">
      <h6>INDIA</h6>
      <div>
        <h6>ENGLISH</h6>
        <p id="last">© ALL RIGHTS RESERVED</p>
      </div>
    </div>

    <div id="bottom">
      <h6>NAME AND ADDRESS OF THE MANUFACTURER:</h6>
      <h6>INDUSTRIA DE DISEÑO TEXTIL, S.A. (INDITEX, S.A.)</h6>
      <h6>
        AVENIDA DE LA DIPUTACIÓN, EDIFICIO INDITEX, 15143, ARTEIXO (A CORUÑA),
        SPAIN
      </h6>
    </div>
  </body>
</html>
