<!-- ZARA NAVBAR -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles/navBar-Style.css">
    
  </head>
  <body>
    <nav>
      <div id="nav-bar-left">
        <div id="hamburger">
          <img src="https://banner2.cleanpng.com/20180628/zaz/kisspng-computer-icons-hamburger-button-menu-new-menu-5b34724be5a1f0.5796308115301637879406.jpg" alt="hamburger" id="hamburger_icon">
        </div>
        <div id="logo">
            <img src="https://www.freepnglogos.com/uploads/zara-logo-png/zara-avrupa-logos-2020-desing--11.png" alt="favicon" id="favicon">
        </div>
        </div>
      </div>
      <div id="nav-bar-right">
        <div id="search_bar">
            <label class="navLabel" for="search">SEARCH</label>
            <p id="search"></p>
        </div>
        <div id="nav-items">
          <ul>
            <li class="nav_item"><a class="navLinks" href="">LOGIN</a> </li>
            <li class="nav_item" id="help"><a class="navLinks" href="">HELP</a> </li>
            <li class="nav_item" id="last-nav"><a class="navLinks" href="">CART</a> </li>
          </ul>
        </div>
      </div>
    </nav>
  </body>
</html>
