#about{
    display: flex;
}
li{
    font-size: 8px;
    font-weight: 550;
    margin-top: 5px;
}
ul{
    list-style: none;
}
#about{
    margin-top: 170px;
    margin-left: 40px;
}
.head{
    font-weight: bold;
    font-size: 12px;
}
#copy{
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 30px;
    justify-content: space-between;
    text-align: right;
}
#last{
    margin-top: -10px;
}
#bottom{
    width: 90%;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 70px;
    font-size: 12px;
}
#bottom > h6{
    margin-top: 0px;
    margin-bottom: 3px;
}